*{
  margin: 0%;
  padding: 0%;
}

.Header_Div{
  border-bottom: 3px solid #00FFD1;
}
.hiring{
  width: 450px;
  text-align: center;
}
.work{
  width: 450px;
  text-align: center;

}
.cente{
  justify-content: center;
  gap: 70px;
}
.img-fluid{
  height: 350px;
  align-items: center;
  clip-path: circle();
  border: 12px solid white;
  border-radius: 21rem;
}
.img-fluid:hover{
  border: 5px solid #00FFD1;
  
}
.hire_work{
  margin-top: 2rem;
  width: 50%;
  height: 4rem;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #00FFD1;
  border: 3px solid #00FFD1;
  border-radius: .5rem;

}
.hire_work:hover{
  background-color: #00DFB7;
  border: 3px solid #00FFD1;
  color: white;

}
.work_hire{
  text-decoration: none;
  color: white;
}
.work_hire:hover{
  color: white;
}