* {
    box-sizing: border-box;
}
@font-face {
    font-family: primaryfont;
    src: url(/static/font/RobotoMono-Regular.ttf); 
}

body {

    margin: 0px;
    font-family: primaryfont;
    background: #1b1b32;
    

}
html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

.header{
    text-transform: uppercase;
    padding: 15px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
    text-align: left;
    width: 100%;
   
}

h1{
    display: block;
    margin: 0;
    margin-left: 1em;
    font-size: 2.5rem;
    width: 90vw;
}
section{
    display: flex;
    margin: 114px 50px;
   
    
    justify-content: center;
    align-items: center;
}
form{
    
    height: 350px;
    width: 80vw;
    max-width: 600px;
    min-width: 330px;
    padding: 40px 40px;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 7px;
    
}

fieldset{
    padding: 0 20px;
    margin: 0 0;
    font-size: 2rem;
    color: #fff;
    height: 100%;
    border: none;
    
}

label{
    display: block;
    margin: 1rem 0;
    
}

input{
    width: 100%;
    height: 4rem;
    background-color:  #f5f6f7;
    padding: 0.5rem;
    margin: 1rem 0;
    font-family: primaryfont;
    font-weight: 1rem;
    font-size: 1.5rem;
    box-sizing: 5px;
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 30px auto 0 auto;
    background-color: #fdb347;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    
}

