*{
    padding: 0%;
    margin: 0%;
}

.Header_Div {
    background-color: #0A0A23;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #00FFD1;

}

.Header_Img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
 .form_desgin{
    margin-top: 3rem;
    justify-content: center;    

} 

.form_input{
    width: 95%;
    padding-left: 1rem;
    padding-bottom: .4rem;
    height: 45px;
    color: #5b574f;;
    border-radius: .3rem;
    font-size: 19px;
    background-color: rgb(244, 244, 244);
    border: none;

}
.form_input:focus{
    outline: #00FFD1;
    border: 3px solid #00FFD1;
}
.setup_account{
    color: #0A0A23;
    text-align: center;
    font-weight: bold;
}
h3{
    font-weight: bold;
}
.level{
    justify-content: center;
    width: 25rem;
}
.SignUp{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.SignUpGoogle{
    display: flex;
    justify-content: center;
}
.SignUp_Btm{
    width: 40%;
    color: white;
    background-color: #00FFD1;
    font-weight: bold;

}
.SignUp_Btm:hover{
    color: white;
    background-color: #00DFB7;
}
.hr_or1{
    margin-right: 1rem;
    width: 25%;
    align-items: flex-end;

}
.hr_or2{
    margin-left: 1rem;

    width: 25%;
    align-items: flex-end;

}
.go_home{
    color: #5b574f;
}
