*{
  margin: 0;
  padding: 0;
}
/* <!-- ------------------------------------------ START NAV BAR  --------------------------------------------- --> */

#nav{
  background-color: #0a0a23;
  border-bottom: 3px solid #00FFD1;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  opacity: 97%;

}
.navbar-light .navbar-toggler {
  color: #00FFD1;
  border-color: #00FFD1;
}
.navbar-toggler-icon{
  color: #f8f9fa;
  background-color: #f8f9fa;
}
.navbar-toggler{
  border: none;
  background-color: white;
}

.signup {
  background-color: #0a0a23;
  border-color: #0a0a23;
  color: #00FFD1;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.signup:hover{
  color: white;
}
.BTN2 {
  text-decoration: none;
  margin-right: 1.5rem;
  /* background-color: #0a0a23; */
  border: 2px solid #00FFD1;
  border-radius: .5rem;
  color: #00FFD1;
  padding: 10px 25px;
  font-size: 16px;
}
.BTN2:hover{
  background-color: #00FFD1;
  color: #0a0a23;
}
.img_getjob{
  height: 41px;
  margin-bottom: .5rem;
}
.text-light {
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 32px;
}

.home_about {
  background-color: #0a0a23; /* Green */
  border-color: #0a0a23;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.home_about:hover{
  color: white;
}
/* <!-- ------------------------------------------ END NAV BAR  --------------------------------------------- --> */








/* <!-- ------------------------------------------ CAROUSEL START --------------------------------------------- --> */

/*<------------------ CAROUSEL START ------------------> */
.carousel-caption{
  margin-bottom: 5rem;
  margin-right: 5rem;
  padding-right: 5rem;
  width: fit-content;
}

.carousel-caption {
  position: absolute;
  bottom: 1.25rem;
  left: 5%;
  padding-top: 1.25rem;
  padding-bottom: 3rem;
  color: #fff;
  text-align: center;
}

.img_slider{
  margin-top: 5rem;
  height: fit-content;
  display: flex;
  align-items: left;
  text-align: left;
  justify-content: left;
}

.carousel-indicators{
  width: auto;
}

.A_h1{
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  width: fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color : #00FFD1;
}
.A_p{
  margin: 0;
  padding: 0;
  width: fit-content;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color : #3B9AE1;
  font-size: 29px;
  font-weight: bold;
}
/*<------------------ GET STARTED BUTTON ------------------> */
.button_GS{
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: #00FFD1;
  color : white; 
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  font-size: 20px;

}
.button_GS:hover{
  background-color: #00d1ab;
  color :white; 
}
.carousel-indicators [data-bs-target]{
  background-color: #0a0a23;
}


@media (max-width: 991px) {
  .carousel-caption{
    margin: 0;
    padding: 0;
  }
  .button_GS{
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    background-color: #00FFD1;
    color : white; 
    font-weight: bold;
    display: flex;
    align-self: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
  }
  
}
/*<------------------ CAROUSEL END ------------------> */

/* <!-- ------------------------------------------  START --------------------------------------------- --> */


















/* <!-- ------------------------------------------ START ABOUT US  --------------------------------------------- --> */

.about_us{
  margin: 0;
  padding-top: 4rem;
  height: 300px;
  text-align: center;
  color: white;
  background-color: #0a0a23;

}
.AU_p{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #00FFD1;
  width: 40%;
  position: absolute;
  align-items: center;
  left: 29%;
  right: 27%;
}

.AU{
  margin: 0 .8rem .8rem .8rem;
  padding-top: 4rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#0a0a23;
  height: fit-content;
  background-color: #f8f9fa;
}
.cf{
  background-color: #f8f9fa;
}





/* <!-- ------------------------------------------ END ABOUT US  --------------------------------------------- --> */
/* <!-- ------------------------------------------ FOOTER START  --------------------------------------------- --> */






/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  margin: 0;
  padding: 0;
  width: auto;
} */


.contact{
  margin-left: 2rem;
  padding-left: 2rem;
  width: 18rem;
}

.foot{
  border-top: 2px solid #00FFD1;
}
.MainFoot{
  padding: 0;
  margin:0;
  border: 0;
}


/* <!-- ------------------------------------------ FOOTER END  --------------------------------------------- --> */
