*{
    margin: 0;
    padding: 0;
  }

  /*<--- NAV START --->*/
  #nav{
    background-color: #0a0a23;
    border-bottom: 3px solid #00FFD1;
    width: 100%;
    position: fixed; 
    z-index: 1; 
  }

  .navbar-light .navbar-toggler {
    color: #00FFD1;
    border-color: #00FFD1;
  }

  .navbar-toggler-icon{
    color: #f8f9fa;
    background-color: #f8f9fa;
  }
  .navbar-toggler{
    border: none;
    background-color: white;
  }

  .signup {
    background-color: #0a0a23;
    border-color: #0a0a23;
    color: #00FFD1;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .signup:hover{
    color: white;
  }
  .BTN2 {
    text-decoration: none;
    margin-right: 1rem;
    border: 2px solid #00FFD1;
    border-radius: .5rem;
    color: #00FFD1;
    padding: 10px 25px;
    font-size: 16px;
}
.BTN2:hover{
    background-color: #00FFD1;
    color: #0a0a23;
  }
  .img_getjob{
    height: 41px;
    margin-bottom: .5rem;
  }
  .text-light {
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 32px;
}
.form-select{
    margin: 0;
    width: 33%;
    text-align: center;
    background-color: white;
    border: 2px solid #0a0a23;
    border-radius: .5rem;
    color: #0a0a23;
}
.form-select:hover{
    color: #f8f9fa;
    background-color: #0a0a23;
    border: 2px solid #00FFD1;
}

  /*<--- NAV END --->*/

