<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/work.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/gj-sqaure-logo-2-50x50.png')}} "
    type="image/x-icon">
    <title>Job Seeker</title>
  </head>
  <body>
    
    <!--NAV START-->
    <div class="container-fluid">
        <div class="row">           
            <nav class="navbar navbar-expand-lg navbar-light " id="nav">
                <div class="container-fluid">
                  <a class="navbar-brand getjob_text text-light" href="" ><img src="{{url_for('static', filename='img/GetJob.png')}}" class="img_getjob" alt="Italian Trulli"> Get Job</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon navbar-toggler"></span>
                  </button>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--          
                        <li><a class="home_about">Home</a></li>                
                        <li><a class="home_about">About Us</a></li> -->              
                    </ul>                        
                    <div>
                        <a href="#" class="btn  BTN2 ">Create A Job Profile</a>
                        <select class="form-select btn BTN2" name="links" size="1" onchange="window.location.href=this.value;">
                            <option value="" selected>Profile</option>
                            <option value="">Dashboard</option>
                            <option value="">Sign out</option>
                        </select>
                    </div>
                  </div>
                </div>
            </nav>
            
        </div>
    </div>
<!--NAV END-->
    <div class="container">
        <div class="row">
            <div class="col bg-primary card">
                

                <h1>Please insert card Here</h1>


            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>